
.clear{
    clear: both;
}



.feed{
    padding: 10px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(64, 100, 126, 0.15);
    margin-top: 10px;
    .avatar{
        .material-symbols-outlined{
            font-size: 40px;
        }
        
    }
    
    
    
    .leftfeed{
        label{
            color: #41b3cf;

            border: none;
            border-radius: 50%;
        }
        float: left;
        #numberofanswers{
            margin-bottom: 0;
        }
        button{
            .material-symbols-outlined{
                color: #41b3cf;
            }
            border: none;
            padding: 10px;
        }
        button:hover{
            opacity: 0.5;
         }
    }
    .rightfeed{
        float: right;
        .material-symbols-outlined{
            padding-left: 20px;
        }
        
    }
    .answerfeed{
        border-top: 2px solid #41b3cf;
        margin-top: 20px;
        .material-symbols-outlined{
            font-size: 40px;
        }
    }
}