.main{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

    .card{
        width: 400px;
        margin: 40px;
    }
    .maincontainer{
        .card{
            h5{margin: 10px;}
            text-align: center;
            height: 450px;
            .form-floating{
                margin-bottom: 1.5rem;
            }
            .mb-3 {
                margin-bottom: 1.5rem!important;
            }
            
        }
    }

}