.widget{
    padding: 10px;
    margin-top: 30px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(64, 100, 126, 0.15);
    h4{
        color: #41b3cf;
    }
    position: absolute;
}